@model AppDC_Deras.Models.Reclamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reclamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresConsumidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresConsumidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidosConsumidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidosConsumidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetalleReclamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleReclamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoReclamado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoReclamado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReclamo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
